!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1
      = "Hello #{@first_name}!"
    %p
      Thanks for reaching out to Lilypad Energy, We got your note someone will reach out soon.
    %p
      Here is a copy of the note you wrote us:
    %p
      = @content
    %p
      = "- Lilypad Energy"