!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Hey
    %p
      The contact form information is below:

    %p
      =
      // add the data recieved from the contact us form