%ul.nav.justify-content-center.main-navigation
  %li.nav-item
    %a.nav-link.main-navigation-item.active{href:"/"} HOMPAGE
  %li.nav-item
    %a.nav-link.main-navigation-item{href:"/products"} Products
  %li.nav-item
    %a.nav-link.main-navigation-item{href:"/projects"} Projects
  %li.nav-item
    %a.nav-link.main-navigation-item{href:"/"} Contact us
  %li.nav-item
    %a.nav-link.main-navigation-item{href:"/client-login"}
      %i.fa.fa-sign-in
        %span
          Login