<div class="row email-subscription-form">
 <div class="col-sm-3"></div>
 <div class="col-sm-6">
   <div>
     <div>
       <h2 class="text-center mb-5">Stay updated!</h2>
       <p>
         Join our newsletter subscription to get emails about our progress
       </p>
     </div>
     <div>
       <%= form_for @email_subscription, remote: true do |f| %>
         <div class="form-group">
           <%= f.email_field :email, required: true, class: 'form-control', placeholder: 'Email' %>
         </div>
         <div class="form-group">
           <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
         </div>
       <% end %>
      </div>
   </div>
 </div>
 <div class="col-sm-3"/></div>
 <hr/>
</div>

<script>
 $('#new_email_subscription').on('ajax:success', function(e, data, status, xhr){
   alert("Thanks!");
   // figure out how to limit this form.
   $('#email_subscription_email').val('');
   grecaptcha.reset();
 }).on('ajax:error',function(e, xhr, status, error){
   alert("Sorry, there was an error!");
   grecaptcha.reset();

 });
</script>
