<div class="container lilypad-explainer">
  <%= image_tag('lilypad-cord3.png', :class => 'lilypad-cord') %>
  <div class="parallax-lilypad-cord-grow" id='lilypad-cord-grow'></div>
  <h1 class="explainer-title text-center title">Lilypad for the Grid</h1>
  <div class="container">
    <div class="row">
      <div class="lilypad-box animated willSlideInLeft">
        <%= cl_image_tag('lilypad-clipart', width: '200') %>
        <div class="lilypad-number centered">1</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <h2 class="title">Connect Your Data</h2>
        <p class="">
          Lilypad works with demand response aggregators by creating
          a network of residential power users and enabling them to contribute
          to balancing the load on utilities
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8"></div>
      <div class="lilypad-box animated willSlideInRight">
        <%= cl_image_tag('lilypad-clipart', width: '200') %>
        <div class="lilypad-number centered">2</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6"></div>
      <div class="col-sm-4">
        <h2 class="title">Reduce Consumption</h2>
        <p class="">
          All Lilypad users can put their load decrease up for bid on
          an online marketplace, getting an opportunity to earn money
          for saving electricity.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="lilypad-box animated willSlideInLeft">
        <%= cl_image_tag('lilypad-clipart', width: '200') %>
        <div class="lilypad-number centered">3</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-4">
        <h2 class="title">Get Paid</h2>
        <p class="">
          And demand response aggregators can buy the excess load
          to sell it back to the Grid for a profit.
        </p>
      </div>
    </div>
  </div>
</div>
