<div class="row">
  <div class="parallax1">
    <div class="lp-jumbotron jumbotron-text delay-animation animated fadeInUp">
      <h1 class="title text-center">Lilypad Energy</h1>
      <p class="lead text-center"> A New Interface For The Energy Economy </p>
      <div class="text-center">

        <a href="https://lilypad.energy/client-login" class="btn btn-primary">Go To Customer Portal</a>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 60px;margin-top: 60px;">
  <div class="col text-center">
    <div class="mission text-center float-left hidden-element">
      <div class="col-sm-12">
        <h1>Mission</h1>
        <div class="customUL"></div>
      </div>
      <div class="col-sm-12">
        <p class="lead container">We live in an energy economy. Grids are constantly balancing energy use across the nation and large companies are getting paid to help them do so. By using the Lilypad's software, home owners have that same opportunity.</p>
      </div>
    </div>
  </div>
  <div class="col text-center animated willSlideInRight">
    <%=cl_image_tag( 'lp-platform', :transformation =>
    { :dpr => "auto", :responsive => true, :width => "auto", :crop => "scale"}) %>
  </div>
</div>

<div class="row">
  <div class="customHr text-center"></div>
</div>

<div class="row" style="margin-bottom: 25px;">
  <div class="container">
    <div class="content text-center">
      <div class="col-sm-12">
        <h1 class="text-center display-4" style="margin-top: 25px;">How It Works</h1>
        <div class="customUL"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 explainer-box animated willSlideInUp">
            <%=cl_image_tag( 'lightblub') %>
              <h3 class="text-center">You and The Grid</h3>
              <p class="text-center">Modern America understands our grid to be a one-way street: power goes
                  to a home, gets used and gets paid off on your utility bills. Lilypad enables
                  money to flow in both directions by letting users work with the grid to
                  help balance load.</p>
            </%=cl_image_tag( 'lightblub')%>
          </div>
          <div class="col-md-4 explainer-box animated willSlideInUp">
            <%=cl_image_tag( 'battery') %>
              <h3 class="text-center">Rebalancing</h3>
              <p class="text-center">The grid has a finite amount of power and can reach capacity at times.
                  This is where you come in. Whether you have a backup power cell, a set
                  of solar panels, or you&apos;re okay turning off your AC for an hour, Lilypad
                  lets you know when you can help the grid and make money doing it.</p>
            </%=cl_image_tag('battery')%>
          </div>
          <div class="col-md-4 explainer-box animated willSlideInUp">
            <%= cl_image_tag('plug') %>
              <h3 class="text-center">Saving is earning</h3>
              <p class="text-center">All you have to do is find and select the partner program(s) you wouldlike to enroll in. Lilypad takes care of the rest, ultimately sending you, the homeowner, checks for your help supporting the grid.</p>
            </%= cl_image_tag('plug') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="parallax2"></div>

<div class="team" id="our-team">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <h1>Our Team</h1>
        <div class="customUL"></div>
        <p class="team-text">We are a team dedicated to building an efficient energy community. Our goals in building a team are no different than the ones for Lilypad: Making a network of many people is far more powerful than building on the shoulders of a few. We are a team of energy professionals, software developers, and dreamers. Together we are helping to build a sustainable and profitable energy economy.</p>
      </div>
      <div class="col-md-8 animated willSlideInRight">
        <div class="row">
          <div class="col-md-6">
            <img src="http://res.cloudinary.com/lilypad-energy/image/upload/v1527091349/henry.jpg" id="henry" title="Henry Meyer" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Henry has worked in the Energy and Advanced Technology fields for over ten years. After a position with EnerNOC in their Energy Markets group, Henry transitioned to Navigant Consulting to work on their Energy Cloud and Military R&D Portfolio Management teams. For the past 2 years, Henry has been engaged to help research institutions and Private Equity firms transition new technologies into global commercial markets.">
            <img src="http://res.cloudinary.com/lilypad-energy/image/upload/v1527091410/tim.png"
            id="tim" title="Tim Mee" style="margin-left: 7rem;" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="right" data-content="Tim is an experienced web developer and data scientist, previously specializing in secure HIPPA environments to aggregate and streamline operational healthcare data transfers. Equipped with deep knowledge of many web- development languages, Tim is leading the development of Lilypad’s web platform and DR Marketplace">
          </div>
          <div class="col-md-6">
            <img src="http://res.cloudinary.com/lilypad-energy/image/upload/v1527091360/sam.jpg"
            id="sam" title="Sam Bailly" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Sam is responsible for conducting DER market analysis in respect to economic and regulatory factors in US power markets, and is helping drive Lilypad's strategic vision. Sam earned a Masters in Sustainable Energy Science from the Iceland School of Energy at Reykjavik University, and has held previous posts with the Energy Markets team at the Environmental Defense Fund.">
            <img src="http://res.cloudinary.com/lilypad-energy/image/upload/v1527091357/luke.jpg"
            id="luke" title="Luke Bidigare-Curtis" style="margin-left: 7rem;" data-container="body" data-toggle="popover" data-trigger="hover" data-placement="left" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
