= render 'shared/navigation'
.main
  .row.homepage-zone1
    .col-12.lilpad-logo.text-center{style:'margin-top: 30px;'}
      =cl_image_tag("sample.jpg", :width => 400, :crop => "pad")
      %h1 Lilypad Energy
    .col-12
      .row
        .col
        .col-10.image-example-wide
        .col
    .col-12.text-center
      .opener
        Enabling Interoperability for Distributed Grid Resources
  %br
    .col-12.text-center
      .contact-us-button
        %button.btn.btn-primary.btn-lg
          Contact Us

  .row.homepage-zone2


  .row.homepage-zone3


  .row.homepage-zone4