<div class="row">
  <div class="parallax1">
    <div class="lp-jumbotron jumbotron-text delay-animation animated fadeInUp">
      <h1 class="title text-center">Lilypad Energy</h1>
      <p class="lead text-center"> A New Interface For The Energy Economy </p>
      <div class="text-center">

        <a href="https://lilypad.energy/client-login" class="btn btn-primary">Go To Customer Portal</a>
      </div>
    </div>
  </div>
</div>

<div class="row" style="margin-bottom: 25px;margin-top: 25px;">
  <div class="col text-center">
    <div class="mission text-center float-left hidden-element willAnimate slideInLeft">
      <div class="col-sm-12">
        <h1>Mission</h1>
        <div class="customUL"></div>
      </div>
      <div class="col-sm-12">
        <p class="lead">We live in an energy economy. Grids are constantly balancing energy use across the nation and large companies are getting paid to help them do so. By using the Lilypad's software, home owners have that same opportunity.</p>
      </div>
    </div>
  </div>
  <div class="col text-center">
    <%=cl_image_tag( 'lp-platform', :transformation =>
    { :dpr => "auto", :responsive => true, :width => "auto", :crop => "scale"}) %>
  </div>
</div>

<div class="col-sm-12">
  <div class="customHr text-center"></div>
</div>

<div class="row" style="margin-bottom: 25px;">
  <div class="container">
    <div class="content text-center">
      <div class="col-sm-12">
        <h1 class="text-center display-4" style="margin-top: 25px;">How It Works</h1>
        <div class="customUL"></div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 explainer-box">
            <%=cl_image_tag( 'lightblub') %>
              <h3 class="text-center animated slideInRight">You and The Grid</h3>
              <p class="text-center">Modern America understands our grid to be a one-way street: power goes
                  to a home, gets used and gets paid off on your utility bills. Lilypad enables
                  money to flow in both directions by letting users work with the grid to
                  help balance load.</p>
            </%=cl_image_tag( 'lightblub')%>
          </div>
          <div class="col-md-4 explainer-box">
            <%=cl_image_tag( 'battery') %>
              <h3 class="text-center animated slideInRight">Rebalancing</h3>
              <p class="text-center">The grid has a finite amount of power and can reach capacity at times.
                  This is where you come in. Whether you have a backup power cell, a set
                  of solar panels, or you&apos;re okay turning off your AC for an hour, Lilypad
                  lets you know when you can help the grid and make money doing it.</p>
            </%=cl_image_tag('battery')%>
          </div>
          <div class="col-md-4 explainer-box">
            <%= cl_image_tag('plug') %>
              <h3 class="text-center animated slideInRight">Saving is earning</h3>
              <p class="text-center">All you have to do is find and select the partner program(s) you wouldlike to enroll in. Lilypad takes care of the rest, ultimately sending you, the homeowner, checks for your help supporting the grid.</p>
            </%= cl_image_tag('plug') %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax2"></div>
<div class="team">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4">
        <h1>Our Team</h1>
        <div class="customUL"></div>
        <p class="team-text">We are a team dedicated to building an efficient energy community. Our goals in building a team are no different than the ones for Lilypad: Making a network of many people is far more powerful than building on the shoulders of a few. We are a team of energy professionals, software developers, and dreamers. Together we are helping to build a sustainable and profitable energy economy.</p>
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-md-6">
            <img src="http://res.cloudinary.com/lilypad-energy/image/upload/v1527091349/henry.jpg"
            id="henry" title="Henry Meyer">
            <img src="http://res.cloudinary.com/lilypad-energy/image/upload/v1527091410/tim.png"
            id="tim" title="Tim Mee" style="margin-left: 7rem;">
          </div>
          <div class="col-md-6">
            <img src="http://res.cloudinary.com/lilypad-energy/image/upload/v1527091360/sam.jpg"
            id="sam" title="Sam Bailly">
            <img src="http://res.cloudinary.com/lilypad-energy/image/upload/v1527091357/luke.jpg"
            id="luke" title="Luke Bidigare-Curtis" style="margin-left: 7rem;">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
