= render 'shared/navigation'
.main
  .row.homepage-zone1
    .col-12.lilpad-logo.text-center{style:'margin-top: 30px;'}
      = image_tag "//img1.wsimg.com/isteam/ip/98444f4f-4552-4ee9-968c-7fa7ce74a6d9/logo/2c115f2c-7298-4399-b373-05618ee43d83.png/:/rs=h:125", alt: "Lilypad Logo"
      %h1 Lilypad Energy
    .col-12
      .row
        .col
        .col-10.image-example-wide
        .col
    .col-12.text-center
      .opener
        Enabling Interoperability for Distributed Grid Resources
  %br
    .col-12.text-center
      .contact-us-button
        %button.btn.btn-primary.btn-lg
          Contact Us

  .row.homepage-zone2


  .row.homepage-zone3


  .row.homepage-zone4