/*
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "font-awesome";


.footer {
  position: relative;
  margin-top: 5rem;
  width: 100%;
  height: 20rem;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('http://res.cloudinary.com/lilypad-energy/image/upload/v1527091491/full-grid.jpg');
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  overflow-x: hidden;
  @media only screen and (max-width: 638px) {
  }
  .email-LP {
    &:hover {
      cursor: pointer;
      color: green;
    }
  }
  .website-links {
    text-decoration: none;
    color: #a8a36b;
    &:hover {
      cursor: pointer;
      color: green;
    }
  }
  p {
    color: #a8a36b
  }
  .footer-contact {
    margin-bottom: 2rem;
  }
}

.contact-us-form {
  input{
    @extend .form-control;
  }
}
