nav.navbar.navbar-default {
  margin-bottom: 0;
}

.navbar-form {
  display: block;
  float: right;
  .dropdown-menu {
    background-color: lightgrey;
  }
}

.customHr {
  display: inline-block;
  margin: 3rem auto;
  width: 100%;
  border: 1px solid silver;
}

.customUL {
  width: 10%;
  border: 1px solid silver;
  margin: 2rem auto 4rem;
}

.logo {
  width: 200px;
  display: block;
  margin: auto;
}

.lp-jumbotron {
  height: 100vh;
  width: 105%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    @media screen and (max-width: 668px) {
      padding-top: 8rem;;
    }
    @media screen and (min-width: 668px) {
      padding-top: 14rem;;
    }
  }
  h1, p {
    color: white;
  }
  button {
    width: 250px;
    height: auto;
  }
}

.parallax1 {
  background-image: url("http://res.cloudinary.com/lilypad-energy/image/upload/v1527091491/full-grid.jpg");
  height: 100vh;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax2 {
  background-image: url("http://res.cloudinary.com/lilypad-energy/image/upload/v1527091459/solar-roof.jpg");
  height: 70vh;
  width: 100vw;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.explainer-box {
  background-color: white;
  img {
    height: 200px;
    display: block;
    margin: auto;
    opacity: 0.6;
  }
}

.team {
  padding-top: 3rem;
  background-color: white;
  .team-pics {
    max-width: 700px;
    display: block;
    margin: auto;
  }

  img {
    display: inline-block;
    margin-bottom: 20px;
    width: 180px;
    height: 180px;
    border-radius: 100px;
  }
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.email-subscription-form {
  @media screen and (max-width: 592px) {
    padding: 2rem;
  }
}

// explainer pages

.lilypad-explainer {
  margin-top: 4rem;
}

.explainer-title {
  font-weight: bold;
}

.lilypad-box {
  position: relative;
  text-align: center;
  color: white;
  max-width: 350px;
  opacity: .9;
}
.lilypad-clipart {
  width: 200px;
  display: inline-block;
  padding-top: 3rem;
  margin: auto;
}
.lilypad-number {
  color: black;
  top: 30px;
  width: 100%;
  margin-top: 4rem;
  font-size: 60px;
}

.lilypad-cord {
  position: absolute;
  left: 30%;
  top: 0;
  z-index: -2;
  opacity: .5;
  width: 40%;
  @media screen and (max-width: 992px) {
    width: 75%;
  }
  @media screen and (max-width: 768px) {
    width: 110%;
    left: 10%;
  }
}

.parallax-lilypad-cord-grow {
  position: fixed;
  min-height: 50rem;
  width: 100%;
  background: white;
  z-index: -1;
  top: 0;
}

// Animations

.delay-animation {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.animated {
  visibility: hidden;
}

.slideInUp, .slideInDown, .slideInLeft, .slideInRight, .fadeInUp, .fadeInDown, .fadeInLeft, .fadeInRight {
  visibility: visible;
}
